html,
body {
  height: 100%;
}
body,
input {
  font-family: "Times New Roman";
}
#intro {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
#intro::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 2;
}
#intro img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 96%;
}
#intro .content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 5;
  color:#fff;
}
#intro .content h1 {
  margin: 20px 0;
  font-size: 4.5em;
  font-weight: 300;
}
#intro .content h2 {
  padding: 0;
  border: none;
}
#intro .content h3 {
  font-size: 1.5em;
  font-weight: 300;
}
#intro .content .socials {
  padding: 35px 0;
}
#intro .content .socials a {
  color: rgb(234, 235, 238);
  display: inline-block;
  font-size: 1.2em;
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1.25;
  border: 1px solid rgb(225, 225, 233);
  border-radius: 100%;
  margin: 0 10px;
  transition: all 0.15s linear;
  transform: scale(1);
}
#intro .content .socials a:hover {
  color: rgb(204, 174, 160);
  border: 2px solid rgba(224, 147, 133, 0.904);
  transform: scale(1.25);
}
section {
  margin-bottom: 25px;
}
section h2 {
  text-align: center;
}
.go-down {
  text-align: center;
  position: absolute;
  z-index: 10;
  bottom: 25px;
  left: 0;
  right: 0;
}
.go-down .mouse {
  display: inline-block;
  width: 30px;
  height: 50px;
  border: 2px solid rgb(241, 167, 125);
  border-radius: 15px;
}
.go-down .mouse::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  border: 4px solid #fff;
  left: 50%;
  margin-left: -4px;
  top: 10px;
}
p.normal {
  font-weight: normal;
}

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}

div.c {
  text-align: center;
}

div.b {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(151, 65, 43);
}
